<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Города</title>
</head>
<body>

  <form method="POST">
    <label for="from_city">из города А:</label>
    <input id="from_city" name="from_city" required>
    <label for="to_city">в город Б:</label>
    <input id="to_city" name="to_city" required>
    <input type="submit" value="Рассчитать">
  </form>

</body>
</html>
